{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1>{{ post.title }}</h1>
        <p><strong>Author:</strong> {{ post.author }}</p>
        <p><strong>Published on:</strong> {{ post.posted.strftime('%Y-%m-%d %H:%M') }}</p>
        <p><strong>Category:</strong> {{ post.category }}</p>
        <div class="content">
            <p>{{ post.content }}</p>
        </div>

        <a href="{{ url_for('posts.get_posts') }}" class="btn btn-secondary mt-3">Back to Posts</a>
    </div>
{% endblock %}