<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Резюме</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#about">Про себе <p>Мене звати Саша Сачовський. Я розробник програмного забезпечення з глибоким інтересом до веб-технологій, зокрема Python та Flask. Маю досвід у створенні динамічних веб-застосунків, інтеграції API та налаштуванні серверних рішень. Моя ціль — створювати ефективні, масштабовані та надійні програмні рішення.</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#education">Освіта <p>Наразі навчаюсь в Прикарпатському Національному Університеті. Пройшов додаткові курси з веб-розробки та поглибив знання у Python, зокрема в роботі з Flask. Відвідував онлайн-курси з розробки REST API та автоматизації тестування.</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">Навички <p>Мої основні навички включають:</p>
    <ul>
        <li>Python (Flask, Django)</li>
        <li>JavaScript (React, jQuery)</li>
        <li>HTML5, CSS3, Bootstrap</li>
        <li>Git та системи контролю версій</li>
        <li>SQL та робота з базами даних (PostgreSQL, MySQL)</li>
        <li>Розробка RESTful API</li>
        <li>Docker та робота з контейнерами</li>
    </ul></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience">Досвід роботи     <p>Маю досвід роботи над різними проектами, зокрема:</p>
    <ul>
        <li><strong>Веб-додаток для керування задачами:</strong> Розробка та налаштування backend-частини за допомогою Flask та інтеграція з базою даних PostgreSQL.</li>
        <li><strong>Платформа для онлайн-навчання:</strong> Співпраця з командою у створенні фронтенду за допомогою React та інтеграція з сервером на Django.</li>
        <li><strong>Особистий блог на Flask:</strong> Розробка блогу з можливістю публікації постів, управління користувачами та адміністрування.</li>
    </ul>
    <img src="{{ url_for('static', filename='images/my.jpg') }}" alt="Project Image" class="img-fluid"></a>
            </li>
        </ul>
    </div>
</nav>
